body{
    margin: 0;
    padding: 0;
    background-image: url(../images/other/background_left.jpg);
    background-attachment: fixed;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background-image: url(../images/other/blog_banner.jpg);
    background-position: bottom;
    color: white;
    height: 70vh;
}
.content_container{
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
}
.logo img{
    height: auto;
    width: 30vh;
}
.faq_left{
    width: 30%;
    margin: 5%;
    font-size: larger;
}
.faq_right{
    width: 30%;
    margin: 5%;
    font-size: larger;
}
h2{
    font-size: 4rem;
}
h3{
    text-align: center;
    font-size: 2rem;
}
img{
    height: 90%;
    width: 70%;
}
.before{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
@media screen and (max-width: 1000px) {
    .content_container {
        flex-direction: column;
    }

    .faq_left, .faq_right {
        width: 80%;
    }
}
iframe{
    border: none;
}