body{
    margin: 0;
    padding: 0;
    background-image: url(../images/other/background_left.jpg);
    background-attachment: fixed;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background-image: url(../images/other/mad-mike-red-bull.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    color: white;
    height: 70vh;
}
h2{
    font-size: 4rem;
    font-weight: bolder;
}
h3{
    font-size: 1.5rem;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.total{
    font-size: 1.3rem;
    font-weight: bolder;
}
.item1, .item2, .item3, .total{
    border: solid 2px;
    width: 50%;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    padding: 1%;
    font-size: 0.8rem;
}
.contact{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
select, textarea, input{
    margin-bottom: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}
select, #fname, #email, #phone, #adress, #card{
    height: 5vh;
}
select:hover, textarea:hover, input:hover{
    box-shadow: 5px 5px 10px rgba(26, 2, 247, 0.3);;
}
label{
    font-size: 1.3rem;
}
@media screen and (max-width: 1100px) {
    .newsletter label, .gdpr label, .drive label{
        font-size: 2vw;
    }
    .credit{
        flex-direction: column;
    }
    .credit input{
        margin: auto 48%;
    }
}
.credit{
    display: flex;
    justify-content: center;
    align-content: center;
}

.credit input{
    width: fit-content;
    margin-right: 20%;
    height: fit-content;
    width: fit-content;
}