
body{
    background-image: url(../images/other/background_for_car_page.jpg);
    background-attachment: fixed;
}
.explaine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 97vw;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1%;
}
.products_grid  li a button{
    font-size: 0.8rem;
    padding: 1% 2%;
}
.products_grid  li a button:hover{
    border-color: red;
}
.car_selection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height:fit-content;
}
.products_grid  li{
    margin-bottom: 10%;
    background-image: url(../images/other/background_left.jpg);
    background-size: 50%;
    
}
.products_grid  li a:nth-child(2){
    text-align: center;
}
.products_grid  li a:nth-child(3){
    margin: auto 35%;
}
.products_grid li p{
    color: black;
}
img{
    height: 250px;
    width: 370px;
    transition: transform 0.3s ease-in-out;    
}
img:hover{
    transform: scale(1.1);
}
@media (max-width: 600px) {
    .search input{
        margin-left: 1%;
        height: 100%;
        width: 20%
    }
    .item-list{
        width: auto;
    }
    .filter {
        float: none;
        margin-top: 0; 
        position: fixed; 
        bottom: 0; 
        width: 100%; 
        box-sizing: border-box; 
        max-height: 50vh; 
        overflow-y: auto;
        z-index: 999999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filter .radio_select{
        flex-direction: row;
        margin-right: 5%;
        margin-bottom: 5%;

    }
    .filter .checkbox{
        display: none;
    }
    h3{
        margin-left: 20%;
    }
    .click button{
        font-size: 0.5rem;
        padding: 1%;
        margin-left: 20%;
    }
}
.filter{
    float: right;
    padding: 5%;
    margin-top: 20%;
    background-color: white;
    overflow-x: auto;
    height: fit-content;
    background-image: url(../images/other/background_left.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: larger;
}
.radio_select, .checkbox{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
}
.click{
    display: flex;
    flex-direction: row;
}
.click button{
    font-size: 0.8rem;
    margin-left: 15%;
}
.item-list{
    width: 80%;
}
input{
    margin-bottom: 8%;
}
label{
    margin-bottom: 4%;
}
