body{
    background-image: url(../images/other/background_for_car_page.jpg);
    background-attachment: fixed;
}
.explaine{
    display: flex;
    background-image: url(../images/other/test_banner.jpg);
    background-size: cover;
    background-position: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 97vw;
    font-size: 2rem;
    color: white;
    font-weight: 900;
    padding: 1%;
    height: 50vh;
}
.explaine h2{
    color: white;
    font-size: 4rem;
    font-weight: 900;
    background-color: rgba(82, 80, 80, 0.2)
    
}
.explaine p{
    background-color: rgba(82, 80, 80, 0.3)
}
.coment{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
h2{
    color: white;
    font-size: 2.5rem;
}
h3, h2{
    text-align: center;
}
.comment1, .comment2, .comment3, .comment4{
    width: 50%;
    background-image: url(../images/other/background_left.jpg);
    background-position: 50%;
    margin-bottom: 5%;
}
.order, .rating{
    font-style: italic;
    width: 30%;
}
.contact{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    color: white;
}
select, textarea, input{
    margin-bottom: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 2%;
}
select, #fname, #part, #age, #rating{
    height: 5vh;
}
select:hover, textarea:hover, input:hover{
    box-shadow: 5px 5px 10px rgba(26, 2, 247, 0.3);;
}
label{
    font-size: 1.3rem;
}
@media screen and (max-width: 1000px) {
    .newsletter label, .gdpr label, .drive label{
        font-size: 2vw;
    }
}
.extra{
    display: flex;
    justify-content: space-around;
}

