<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/header.css" as="style">
</head>
<body>
    <object>
        <div class="header_container">
            <div class="upper_header">
                <ul>
                    <li>
                        <a href="tel:+38595555444" class="upper_color_change" target="_parent">+38595555444</a>
                    </li>
                    <li>
                        <a href="../about_us.html" class="upper_color_change" target="_parent">Open Hours</a>
                    </li>
                    <li>
                        Mon-Fri: 0800-1700
                    </li>
                    <li>
                        Sat: 0900-1400
                    </li>
                    <li>
                        Sun: Closed
                    </li>
                    <li>
                        <a href="../about_us.html" class="upper_color_change" target="_parent">Address</a>
                    </li>
                    <li>
                        Ulica Bana Berislavica, Split 2100, Croatia 
                    </li>
                </ul>
            </div>
            <div class="lower_header">
                    <ul>
                        <li>
                            <a href="../index.html" target="_parent"><img src="../images/other/jpnautoimport-logo.png" alt="logo" title="JPN Auto Import Services"></a>
                        </li>
                        <li>
                            <a href="../index.html"  class="underline-animation" target="_parent">Home</a>
                        </li>
                        <li>
                            <a href="../car_inventory.html" class="underline-animation" target="_parent">Inventory</a>
                        </li>
                        <li>
                            <a href="../parts.html" class="underline-animation" target="_parent">Parts & Accessories</a>
                        </li>
                        <li>
                            <a href="../about_us.html" class="underline-animation" target="_parent">About Us</a>
                        </li>
                        <li>
                            <a href="../faq.html" class="underline-animation" target="_parent">FAQ</a>
                        </li>
                        <li>
                            <a href="../contact_us.html" class="underline-animation" target="_parent">Contact us</a>
                        </li>
                        <li>
                            <a href="../contact_us.html" title="Schedule a test drive" class="upper_color_change" target="_parent">
                                <img src="../images/other/jpnautoimport-key-icon.png" alt="Schedule a test drive">
                                <figcaption>Shedule a  <br> test drive!</figcaption>
                            </a>
                        </li>
                        <li>
                            <a href="../cart.html" title="Your order" class="underline-animation" target="_parent">
                                <img src="../images/other/cart4.svg" alt="Your order">
                                
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </object>
</body>
</html>